.header {
    width: 100%;
    height: 100vh;
    font-weight: 600 !important;
    color: #777;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .headerB {
    height: 400px;
    width: 100%;
    font-weight: 600 !important;
    color: #777;
    text-shadow: 0px 5px 20px rgba(0,0,0,0.5);
  }

  .bb:active {
    transform: translateY(3px);
  }
  
  .header-border-text {
    padding: 18px;
    position: absolute;
    width: 100%;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: white;
    /*background-attachment: fixed;*/
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-weight: bold;
    /*-webkit-text-fill-color: transparent;*/
    -webkit-background-clip: text;
  }

  .header-border-text h1 {
    font-weight: 500;
    font-size: 6vw;
    font-family: Impact;
  }  

  .vcontainer {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
  }
  
  .vidContainer {
    position: relative;
    width: 100%;
    height: 100vh !important;
    height: auto;
    overflow: hidden;
  }
  
  .vidContainer video{
    position: absolute;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100vh;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .voverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 68, 200, 0.4);
  }

  .headerT {
    width: 80%;
    margin: 100px auto;
    color: #f0f0f0;
    text-shadow: 0px 0px 30px rgba(0,0,0,0.5);
  }
  
  .headerT h1{
    font-size: 10vw;
    line-height: 1em;
  }
  
  
  .titleText {
    background: url('../../assets/webDev-min.png') no-repeat;
    background-size: contain;
    width: 30%;
    height: 10%;
    position: absolute;
    z-index: 200;
    /*bottom: -50px;*/
    right: -80px;
    -webkit-transform: rotateZ(-90deg);
    -ms-transform: rotate(-90deg);
        transform: rotateZ(-90deg);
  }

  .header-chev {
    position: absolute;
    top: 70vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0 auto;
    animation: chevAnim 1s ease-in infinite;
    cursor: pointer;
  }

  @keyframes chevAnim {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @media screen and (max-width: 600px){
    .blog-header-letters {
      width: 150% !important;
      margin-left: -20% !important;
    }
  }

  /*Media Queries*/
  @media screen and (min-width: 1024px){
    .header-chev{
      top: 80vh;
    }
  }

  @media screen and (min-width: 320px){
    .titleText{
      right: -30px;
    }
  }


  