/*
This css is not best practice
Break down css for modularity
*/

body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 1.42857143;
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  width: .80em;
}

body::-webkit-scrollbar-thumb {
background-color: #0775B2;
outline: 1px solid cadetblue;
}

.bodyBackgroundHolder {
  background-color: #bbb;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -3;
}

.bodyBackgroundText {
  background: url('./assets/Artraun.svg') center no-repeat;
  background-size: 100% 50%;
  -webkit-filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.4));
          filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.4));
  position: absolute;
  top: 200px;
  color: #333;
  fill: #333;
  width: 100%;
  height: 200px;
  opacity: 0.3;
  z-index: 0;
}

*,
*::before,
*::after { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

:after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}  

a {
  color: #337ab7;
  text-decoration: none;
}

a:focus, a:hover {
  color: #23527a;
}

/*My styles*/
h1 {
  font-weight: 300;
}

h2 {
  font-weight: 500;
}


.Dabutton{
  width: 50px;
  height: 100%;
  padding: 1%;
  border-radius: 0;
}

.c {
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  z-index: 5;
  width: 100%;
 -webkit-transform: translate3d(0,0,0);
 -ms-transform: translate3d(0,0,0);
 transform: translate3d(0,0,0);
}

.loaderContainer {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  -webkit-perspective: 500;
  perspective: 500;
  overflow: hidden;
  -webkit-animation: pageShowAnim 1s ease-out;
  animation: pageShowAnim 1s ease-out;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.loaderHolder {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow: hidden;
}

.loaderHolder i {
  font-size: 30vw;
  -webkit-animation: loaderAAnim 1s infinite ease-in-out;
  animation: loaderAAnim 1s infinite ease-in-out;
}

@-webkit-keyframes loaderAAnim {
  0%{
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    color: rgb(0,0,0);
  }

  50%{
    color: rgba(54,115,172);
  }

  100%{
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
    color: rgb(255,255,255);
  }
}

@keyframes loaderAAnim {
  0%{
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    color: rgb(0,0,0);
  }

  50%{
    color: rgba(54,115,172);
  }

  100%{
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
    color: rgb(255,255,255);
  }
}

@-webkit-keyframes pageShowAnim {
  100%{
    opacity: 0;
  }
}

@keyframes pageShowAnim {
  100%{
    opacity: 0;
  }
}

/***SECTIONS***/
.myBody {
  display: block;
  position: absolute;
  width:100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  font-size: 16px;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  background-color: white;
}

.myBody2 {
  display: none;
  position: absolute;
  width:100%;
  height:auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  font-size: 16px;
  font-family: Roboto;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.button {
  border: 3px solid white;
}

.perspectiveContainer {
  -webkit-perspective: 200px;
  perspective: 200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0px;
  z-index: 50;
  overflow-x: hidden;
}

