/*
This css is not best practice
Break down css for modularity
*/

body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 1.42857143;
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  width: .80em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
background-color: #0775B2;
outline: 1px solid cadetblue;
}

.bodyBackgroundHolder {
  background-color: #bbb;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -3;
}

.bodyBackgroundText {
  background: url('./assets/Artraun.svg') center no-repeat;
  background-size: 100% 50%;
  -webkit-filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.4));
          filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.4));
  position: absolute;
  top: 200px;
  color: #333;
  fill: #333;
  width: 100%;
  height: 200px;
  opacity: 0.3;
  z-index: 0;
}

*,
*::before,
*::after { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

:after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}  

a {
  color: #337ab7;
  text-decoration: none;
}

a:focus, a:hover {
  color: #23527a;
}

/*My styles*/
h1, h2 {
  font-weight: 200;
}


p {
  font-weight: 300;
}

.Dabutton{
  width: 50px;
  height: 100%;
  padding: 1%;
  border-radius: 0;
}

.c {
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  z-index: 5;
  width: 100%;
 -webkit-transform: translate3d(0,0,0);
 -ms-transform: translate3d(0,0,0);
 transform: translate3d(0,0,0);
}

.loaderContainer {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  -webkit-perspective: 500;
  perspective: 500;
  overflow: hidden;
  -webkit-animation: pageShowAnim 1s ease-out;
  animation: pageShowAnim 1s ease-out;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.loaderHolder {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow: hidden;
}

.loaderHolder i {
  font-size: 30vw;
  -webkit-animation: loaderAAnim 1s infinite ease-in-out;
  animation: loaderAAnim 1s infinite ease-in-out;
}

@-webkit-keyframes loaderAAnim {
  0%{
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    color: rgb(0,0,0);
  }

  50%{
    color: rgba(54,115,172);
  }

  100%{
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
    color: rgb(255,255,255);
  }
}

@keyframes loaderAAnim {
  0%{
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    color: rgb(0,0,0);
  }

  50%{
    color: rgba(54,115,172);
  }

  100%{
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
    color: rgb(255,255,255);
  }
}

@-webkit-keyframes pageShowAnim {
  100%{
    opacity: 0;
  }
}

@keyframes pageShowAnim {
  100%{
    opacity: 0;
  }
}

.nav-holder {
  position: fixed;
  width: 100%;
  height: 68px;
  z-index: 990;
  color: #292929; 
  font-size: 15px;
  font-family: Roboto;
}

.nav-switch {
  background: white;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.5);
          box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.5);
}

nav {
  -webkit-animation: navAnim .5s ease-in forwards;
  animation: navAnim .5s ease-in forwards;
}

.nav-logo {
  display: inline-block;
  height: 100%;
  width: 120px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-start;
  cursor: pointer; 
  padding: 18px 6px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-left: 9px;
}

.lgScale {
  -webkit-transform: scale(2) translateX(32px) translateY(6px);
      -ms-transform: scale(2) translateX(32px) translateY(6px);
          transform: scale(2) translateX(32px) translateY(6px);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.limg {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

.logo-hover:hover {
  color: white;
  background-color: #0775B2;
}

nav i {
  
  /*text-shadow: 0px 0px 20px rgba(0,0,0,.5);*/
}

nav p {
  padding: 12px;
  cursor: pointer;
  margin: 12px auto;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.nav-tab {
  width: 100%;
  text-align: center;
  color: white;
}

.nav-tab:hover {
  background-color: #0775B2;
  color: white;
}

.nav-tab2 {
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  color: #0775B2;
}

.nav-tab2:hover {
  background-color: #0775B2;
  color: white !important;
}

/*nav media trigger*/
nav section {
  display: none !important;
  opacity: 0;
  -webkit-animation: navAnim .5s ease-in forwards;
  animation: navAnim .5s ease-in forwards;
}

.mobile-nav-button {
  margin-right: 32px;
  vertical-align: middle;
  cursor: pointer;
}


.mobile-selection-holder {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 400;
  font-size: 15px;
  font-family: Roboto;
}

.mobile-selection {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 82px;
  padding-bottom: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  position: absolute;
  right: 0;
  margin-top: -10px;
  border-top: 1px solid rgba(0, 123, 255, 0.3);
  z-index: 70;
}

.mobile-selection div {
  cursor: pointer;
}

.mobile-selection div:hover {
  color: white !important;
}

/*-webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
      transform: translateY(-100px);*/

@-webkit-keyframes navAnim {
  0%{
    opacity: 0;
  }

  25%{
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  65%{
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes navAnim {
  0%{
    opacity: 0;
  }

  25%{
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  65%{
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  /* text-align: center; */
  /*text-align: center;*/
}

/***SECTIONS***/
.myBody {
  display: block;
  position: absolute;
  width:100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  font-size: 16px;
  font-family: Roboto;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  background-color: white;
}

.myBody2 {
  display: none;
  position: absolute;
  width:100%;
  height:auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  font-size: 16px;
  font-family: Roboto;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.header {

  width: 100%;
  max-height: 100vh;
  font-weight: 600 !important;
  color: #777;
  text-shadow: 0px 5px 20px rgba(0,0,0,0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerB {
  max-height: 100vh;
  width: 100vw;
  font-weight: 600 !important;
  color: #777;
  text-shadow: 0px 5px 20px rgba(0,0,0,0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 992;
  top: 0;
  left: 0;
  right: 0;
}

.header-border-text {
  padding: 18px;
  position: absolute;
  top: 70vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  color: white;
}

.button {
  border: 3px solid white;
}

.vcontainer {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.vidContainer {
  position: relative;
  width: 100%;
  height: 100vh !important;
  height: auto;
  overflow: hidden;
}

.vidContainer video{
  position: absolute;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100vh;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.voverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 68, 200, 0.4);
}

.perspectiveContainer {
  -webkit-perspective: 200px;
  perspective: 200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0px;
  z-index: 50;
  overflow-x: hidden;
}

.headerT {
  width: 80%;
  margin: 100px auto;
  color: #f0f0f0;
  text-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}

.headerT h1{
  font-size: 10vw;
  line-height: 1em;
}

.clouds {
  background: url('./assets/portfolioHeader2-min.png') no-repeat;
  background-size: contain;
  width: 100%;
  height: 500px;
  -webkit-transform: translate3d(0,0,0px);
  transform: translate3d(0,0,0px);
  -webkit-transition: -webkit-transform 2s ease-in;
  transition: -webkit-transform 2s ease-in;
  -o-transition: transform 2s ease-in;
  transition: transform 2s ease-in;
  transition: transform 2s ease-in, -webkit-transform 2s ease-in;
}


.titleText {
  background: url('./assets/webDev-min.png') no-repeat;
  background-size: contain;
  width: 30%;
  height: 10%;
  position: absolute;
  z-index: 200;
  /*bottom: -50px;*/
  right: -80px;
  -webkit-transform: rotateZ(-90deg);
  -ms-transform: rotate(-90deg);
      transform: rotateZ(-90deg);
}

@-webkit-keyframes cloudAnim {
  0% {
    -webkit-transform: translate3d(20px, 0, 0px);
    transform: translate3d(20px, 0, 0px);
  }

  25%{
    -webkit-transform: translate3d(50px, 0px, 5px);
    transform: translate3d(50px, 0px, 5px);
    -webkit-transform: rotateY(-1deg);
    transform: rotateY(-1deg);
  }

  50%{
    -webkit-transform: translate3d(30px, 0px, 10px);
    transform: translate3d(30px, 0px, 10px);
    -webkit-transform: rotateX(2deg);
    transform: rotateX(2deg);
  }

  75%{
    -webkit-transform: translate3d(15px, 0px, 5px);
    transform: translate3d(15px, 0px, 5px);
    -webkit-transform: rotateY(-1deg);
    transform: rotateY(-1deg);
  }

  100% {
    -webkit-transform: translate3d(20px, 0px, 0px);
    transform: translate3d(20px, 0px, 0px);
  }
}

@keyframes cloudAnim {
  0% {
    -webkit-transform: translate3d(20px, 0, 0px);
    transform: translate3d(20px, 0, 0px);
  }

  25%{
    -webkit-transform: translate3d(50px, 0px, 5px);
    transform: translate3d(50px, 0px, 5px);
    -webkit-transform: rotateY(-1deg);
    transform: rotateY(-1deg);
  }

  50%{
    -webkit-transform: translate3d(30px, 0px, 10px);
    transform: translate3d(30px, 0px, 10px);
    -webkit-transform: rotateX(2deg);
    transform: rotateX(2deg);
  }

  75%{
    -webkit-transform: translate3d(15px, 0px, 5px);
    transform: translate3d(15px, 0px, 5px);
    -webkit-transform: rotateY(-1deg);
    transform: rotateY(-1deg);
  }

  100% {
    -webkit-transform: translate3d(20px, 0px, 0px);
    transform: translate3d(20px, 0px, 0px);
  }
}

.header img {
  width: 100%;
  height: 100%;
}

.headerText {
  text-align: center;
  width: 100%;
  height: 60%;
  margin: auto;
  background: url("./assets/headerText.svg") no-repeat center;
  -webkit-animation: cloudAnim 20s linear infinite;
  animation: cloudAnim 20s linear infinite;
}

/**Section under first graphic**/
.block {
  height: 100%;
  width: 100%;
  /*background: rgba(200,0,0,.3);*/
}

.block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 98px;
}

.blockDiv {
  width: 150px;
  height: 150px;
  position: relative;
  margin-bottom: 32px;
}

.blockDiv:before {
  content:"";
  position: absolute;
  height: 5px;
  width: 60px;
  vertical-align: middle;
  background: rgb(175, 212, 252);
  top: 50%;
  left: -webkit-Calc(-50% + 20px);
  left: -moz-Calc(-50% + 20px);
  left: -o-Calc(-50% + 20px);
  left: Calc(-50% + 20px);
}

.blockDiv:after {
  content:"";
  position: absolute;
  height: 5px;
  width: 60px;
  vertical-align: middle;
  background: rgb(175, 212, 252);
  top: 50%;
  right: Calc(-50% + 20px);
}

.block2 h2{
  font-weight: 600;
  font-size: 3em;
  text-align: center;
}

/**Where text is**/
.basic {
  font-weight: 300;
  width: 100%;
 /* min-height: 60vh;*/
  
  padding-bottom: 32px;
  margin: 32px 0px;
}

.basic h1 {
  font-size: 5vw;
  padding: 18px 0px;
}

.basic p {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
}

.download {
  position: relative;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 100px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.graph-block-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.cardContainer {
  width: 100%;
  margin: 32px 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
          box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px 9px 0 0;
}

.cardBackground {
  margin-bottom: 18px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 234, 17, 0.700)), to(rgba(247, 198, 40, 0.931)));
  background: -webkit-linear-gradient(rgba(250, 234, 17, 0.700), rgba(247, 198, 40, 0.931));
  background: -o-linear-gradient(rgba(250, 234, 17, 0.700), rgba(247, 198, 40, 0.931));
  background: linear-gradient(rgba(250, 234, 17, 0.700), rgba(247, 198, 40, 0.931));
  width: 100%;
  height: 200px;
  padding-left: 40%;
  padding-right: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 9px 9px 0 0;
}

.cardText {
  padding: 12px;
}

.graph-block-a p {
  color: #999;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
}

.graph-block-a h2 {
  color: #333;
  text-align: center;
  font-weight: 100;
}

.graph-block-a i {
  font-size: 5vw;
  color: #fff;
  text-shadow: 0px 5px 10px rgba(26, 1, 23, 0.235);
}

/**IconHolder inside Basic class**/
.iconHolder-Me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.iconHolder-Me a {
  margin-right: 32px;
}

.project-list {
  width: 100%;
  height: auto;
  margin: 32px auto;
  margin-top: 32px;
  background: url('./assets/projectbackground2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 96px;
}

.p-list-header {
  padding: 48px;
}

.project-list h1{
 font-size: 5vw;
 text-align: center;
 color: #fafafa;
 text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5),
              0px 4px 40px rgba(0,0,0, 0.8);
}

.project-list h1:before{
    font-family: FontAwesome;
    content: "\f005";
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 12px;
}

.project-list h1:after{
  font-family: FontAwesome;
  content: "\f005";
  font-size: 2rem;
  vertical-align: middle;
  margin-left: 12px;
}

.list-flex {
 max-width: 100%;
}

.projectCard {
  overflow: hidden;
  width: 70vw;
  max-width: 300px;
  height: 70vh;
  max-height: 500px;
  border-radius: 12px;
  margin: 0 auto;
  position: relative;
}

.projTest {
  width: 100vw;
  height: 100%;
  position: fixed;
  right:0;
  bottom: 0;
  background: red;
  left: 0;
  z-index: 997;
}

.cardAccent {
  position: absolute;
  width: 400px;
  height: 200px;
  -webkit-transform: rotate(-30deg) translateY(-190px) translateX(130px);
      -ms-transform: rotate(-30deg) translateY(-190px) translateX(130px);
          transform: rotate(-30deg) translateY(-190px) translateX(130px);
  background: rgba(0, 123, 255, 0.3);
}

/*.cardImage {
  position: absolute;
  width:100%;
  height: 100%;
  top: 60%;
  background-size: cover;
  background: url('https://vignette.wikia.nocookie.net/meep-city/images/f/fe/Abstract_Square_Art.png/revision/latest?cb=20161209192346') no-repeat;
}*/

.cardBody {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.cardFront{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(250,250,250,1);
  overflow: hidden;
}

.cardFront a {
  position:absolute;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 10px;
  border: 10px solid rgba(88, 180, 241, 0.63);
  -webkit-box-shadow: 0px 0px 30px 20px rgba(12, 1, 39, 0.5),
              0px 0px 0px 20px rgba(17, 152, 241, 0.75),
              0px 0px 20px 5px rgba(12, 1, 39, 0.5);
          box-shadow: 0px 0px 30px 20px rgba(12, 1, 39, 0.5),
              0px 0px 0px 20px rgba(17, 152, 241, 0.75),
              0px 0px 20px 5px rgba(12, 1, 39, 0.5);
  -webkit-transition: -webkit-box-shadow .2s ease-in;
  transition: -webkit-box-shadow .2s ease-in;
  -o-transition: box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in;
} 

.cardFront a:active {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0px 0px 30px 20px rgba(12, 1, 39, 0.5),
              0px 0px 0px 300px rgba(17, 152, 241, 0.75),
              0px 0px 20px 5px rgba(12, 1, 39, 0.5);
          box-shadow: 0px 0px 30px 20px rgba(12, 1, 39, 0.5),
              0px 0px 0px 300px rgba(17, 152, 241, 0.75),
              0px 0px 20px 5px rgba(12, 1, 39, 0.5);
}

.cardFront i {
  text-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

.cardFront p {
  position: absolute;
  bottom: 75px;
}

.cardFlip {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #007BFF;
  cursor: pointer;
}

.cardFlip:active {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

.cardBack{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: rgba(250,250,250,1);
}

.cardBackPic {
  background-size: contain !important;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.cardBack i {
  text-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

.card-more-info {
  position: absolute;
  bottom: 18px;
  left: 20px;;
  color: #007BFF;
  cursor: pointer;
  z-index: 800;
}

.card-more-info:active {
  transform: translateY(3px);
}

.description {
  text-align: center;
  padding: 0px 12px 12px 12px;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  color: #666;
}

.caseStudy {
  position: absolute;
  z-index: 995;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

.project-header {
  width: 100%;
  background-color: #23527a;
  height: 200px;
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-image {
  width: 100%;
  height: auto;
  background-size: contain !important;
  background-position: left !important;
  -webkit-box-shadow: 2px 0px 20px -2px rgba(0,0,0,0.5);
          box-shadow: 2px 0px 20px -2px rgba(0,0,0,0.5);
  -webkit-transition: all .7s ease-in;
  -o-transition: all .7s ease-in;
  transition: all .7s ease-in;
}

.project-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  color: white;
}

.project-title p {
  margin: auto;
}

.project-show-icon {
  position: relative;
  width: 40%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-show-icon a {
  position: absolute;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid rgba(88, 180, 241, 0.63);
  -webkit-box-shadow: 0px 0px 30px 20px rgba(12, 1, 39, 0.5), 0px 0px 0px 20px rgba(17, 152, 241, 0.75), 0px 0px 20px 5px rgba(12, 1, 39, 0.5);
  box-shadow: 0px 0px 30px 20px rgba(12, 1, 39, 0.5), 0px 0px 0px 20px rgba(17, 152, 241, 0.75), 0px 0px 20px 5px rgba(12, 1, 39, 0.5);
  -webkit-transition: -webkit-box-shadow .2s ease-in;
  transition: -webkit-box-shadow .2s ease-in;
  -o-transition: box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in;
}

.project-caseStudy {
  width: 100%;
  height: auto;
  padding: 0 16px;
  margin: 0 auto;
  background-color: white;
}

.project-caseStudy p {
  font-size: 2rem;
}

.project-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.bigCard {
  background-color: #fff;
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 996;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  overflow: hidden;
}

.closeProject {
  position: absolute;
  right: 36px;
  top: 10px;
  cursor: pointer;
  z-index: 999;
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

.closeProject:active{
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  text-shadow: 0px 0px 0px rgba(0,0,0,.5); 
}

.btnSliderA {
  position: absolute;
  left: 30px;
  bottom: 20%;
  text-shadow: 2px 2px 15px rgba(0,0,0,0.5);
  cursor: pointer;
  color: rgb(175,212,252);
  -webkit-transition: text-shadow .3s ease-in;
  -o-transition: text-shadow .3s ease-in;
  transition: text-shadow .3s ease-in;
}

.btnSliderA:hover {
  text-shadow: 2px 2px 20px rgba(250,250,250,0.5);
}

.btnSliderA:active {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.btnSliderB {
  position: absolute;
  right: 30px;
  bottom: 20%;
  text-shadow: 2px 2px 15px rgba(0,0,0,0.5);
  cursor: pointer;
  color: rgb(175,212,252);
  -webkit-transition: text-shadow .3s ease-in;
  -o-transition: text-shadow .3s ease-in;
  transition: text-shadow .3s ease-in;
}

.btnSliderB:hover {
  text-shadow: 2px 2px 20px rgba(250,250,250,0.5);
}

.btnSliderB:active {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.one {
  /*background: url('./assets/weather_portfolioSmall.png') no-repeat;*/
  background-size: contain;
  width: 100%;
  height: 100%;
}

.two {
  /*background: url('./assets/calculator_PortfolioSmall.png') no-repeat;*/
  background-size: contain;
  width: 100%;
  height: 100%;
}

.three {
  /*background: url('./assets/wiki_portfolio2Small.png') no-repeat;*/
  background-size: contain;
  width: 100%;
  height: 100%;
}

.four {
  /*background: url('./assets/redux_portfolioSmall.png') no-repeat;*/
  background-size: contain;
  width: 100%;
  height: 100%;
}

.footer {
  position: absolute;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  width: 100%;
}

.test1 {
  background: url('./assets/footerB2.JPG') no-repeat;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer p {
  font-size: 4rem;
  color: #fff;
}

.footer img {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.footer div {
  width: 100%;
}


.icon-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; 
  -webkit-box-pack: center; 
      -ms-flex-pack: center; 
          justify-content: center;
}

.icon-flex i {
  padding: 18px;
  text-shadow: 0px 0px 20px rgba(200,200,200,0.5);
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  margin: 12px 12px 32px 12px;
  color: #f0f0f0;
}

.icon-flex i:hover{
  color: rgba(0, 123, 255, 1);
  background: #f0f0f0;
}

.formHolder {
  width: 300px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer h1 {
  padding-top: 32px;
  margin-bottom: 0px;
}

.formInput {
  outline: none;
  height: 40px;
  width: 100%;
  font-size: 2rem;
  padding-left: 9px;
  border-radius: 5px;
}

.formTextArea {
  outline: none;
  height: 200px;
  width: 100%;
  font-size: 2rem;
  padding: 9px;
  border-radius: 5px;
}

.formDivs {
  margin: 32px auto 0px auto;
}

.formHolder label{
  display: bock;
  width: 30px;
  font-size: 2rem;
}

.submit {
  width: 100px;
  height: 50px;
  background: rgba(17, 152, 241, 0.2);
  border: 2px solid #f0f0f0;
  outline: none;
  color: #f0f0f0;
  margin: 12px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 50px -8px rgba(0,0,0,0.5);
          box-shadow: 0px 5px 50px -8px rgba(0,0,0,0.5);
}

.submit:active {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

.thankYou {
  width: 200px;
  height: 100px;
  font-weight: 700;
  color: #f3f3f3;
  text-align: center;
  margin: 0;
  margin: -32px 0px;
}

.thankYou p{
  font-size: 2rem;
  text-shadow: 0px 2px 10px rgba(255,255,255,0.5);
  -webkit-transform: translateX(-85px) translateY(-150px);
      -ms-transform: translateX(-85px) translateY(-150px);
          transform: translateX(-85px) translateY(-150px);
}

.liner {
  padding-left: Calc(15% - 13.72px);
  margin: 0 auto;
  width: 60%!important;
}

.liner i {
  color: #fff;
}

.liner::before,
.liner::after {
background-color: #f1f1f1;
content: "";
display: inline-block;
height: 8px;
position: relative;
vertical-align: middle;
width: 25%;
margin: 0 5%;
}

/*Text-Shadow
text-shadow: 0px 0px 50px rgba(140,0,0,0.5);
*/

@media screen and (min-width: 320px){

  .basic {
    margin: 0 auto;
    width: 90%;
  }

  .basic h1{
      font-size: 3rem;
  }

  .basic h2{
      font-size: 2rem;
    }
  
  .basic p{
    font-size: 1.5rem;
  }
  
  .project-list h1{
    font-size: 3rem;
  }

  .graph-block-a {
    width: 90%;
  }

  .graph-block-a .cardContainer {
    margin: 32px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .graph-block-a p{
    font-size: 1.5rem;
  }

  .clouds {
    height: 500px;
    position: absolute;
    top: 50px;
    right: 0%;
    zoom: 1;
    z-index: 20;
  }

  .titleText{
    right: -30px;
  }

  .projectCard {
    width: 80vvw;
    width: 70vw;
    max-width: 300px;
    height: 70vh;
    max-height: 500px;
  }

  .btnSliderA {
    position: absolute;
    left: 5%;
    bottom: 20%;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.5);
    cursor: pointer;
  }
  
  .btnSliderB {
    position: absolute;
    right: 5%;
    bottom: 20%;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.5);
    cursor: pointer;
  }
}

@media screen and (min-width: 400px){
  .basic {
    margin: 0 auto;
    width: 80%;
  }

  .basic h1{
      font-size: 3rem;
  }

  .basic h2{
      font-size: 2rem;
    }
  
  .basic p{
    font-size: 1.5rem;
  }
  
  .project-list h1{
    font-size: 3rem;
  }

  .graph-block-a {
    width: 90%;
  }
  
  .graph-block-a p{
    font-size: 1.5rem;
  }
  
  .middle {
    width: 100%;
    height: 28%;
    top: 40%;
  }

  .btnSliderA {
    position: absolute;
    left: 10%;
    bottom: 20%;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.5);
    cursor: pointer;
  }
  
  .btnSliderB {
    position: absolute;
    right: 10%;
    bottom: 20%;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.5);
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .limg{
    -webkit-transform: scale(.8) translateX(-22px) translateY(-2px);
        -ms-transform: scale(.8) translateX(-22px) translateY(-2px);
            transform: scale(.8) translateX(-22px) translateY(-2px);
    height: 50%;
    width: 70%;
    margin-left: 12px;
  }
}

@media screen and (max-width: 699px) {
  .graph-block-a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .graph-block-a i {
    font-size: 4rem;
  }

  .project-title {
    text-align: center;
  }

  .mobile-nav-button {
    font-size: 2vw;
  }
}

@media screen and (min-width: 700px) {
  .project-title {
    text-align: center;
  }

  .voverlay {
    height: 98.8%;
  }

  .mobile-nav-button {
    display: none;
  }

  nav section {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }

  .graph-block-a .cardContainer {
    margin: 32px 1.5%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .btnSliderA {
    position: absolute;
    left: 20%;
    bottom: 20%;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.5);
    cursor: pointer;
  }
  
  .btnSliderB {
    position: absolute;
    right: 20%;
    bottom: 20%;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.5);
    cursor: pointer;
  }

  .project-image {
    width: 400px;
  }
}

@media screen and (min-width: 750px){
  .project-caseStudy {
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px){
  .voverlay {
    height: 100%;
  }

  .basic {
    width: 70%;
    margin: 0 auto;
    margin-top: 32px;
  }

  .basic h1{
    font-size: 5vw;
  }

  .basic h2{
    font-size: 3vw;
  }
  
  .basic p{
    font-size: 2rem;
  }
  
  .project-list h1{
    font-size: 5vw;
  }

  .graph-block-a{
    width: 80%;
  }

  .graph-block-a .cardContainer {
    margin: 32px 1.5%;
  }
  
  .graph-block-a p{
    font-size: 2rem;
  }


  .clouds { 
    height: 500px;
    position: absolute;
    top: 200px;
    right: -10%;
    zoom: 1;
    z-index: 20;
  }

  .diagramHolder {
    width: 100%;
    height: 500px;
  }

  
  .footer h1{
    font-size: 5vw;
  }

  .btnSliderA {
    position: absolute;
    left: 30%;
    bottom: 20%;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.5);
    cursor: pointer;
  }
  
  .btnSliderB {
    position: absolute;
    right: 30%;
    bottom: 20%;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.5);
    cursor: pointer;
  }

  .projectCard {
    width: 70vvw;
    width: 70vw;
    max-width: 300px;
    height: 70vh;
    max-height: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .clouds{
      right: -18%;
  }
}


@media screen and (min-height: 900px) {
  .graph-block-a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
}

.test{
  display: none;
}

@media screen and (max-height: 500px) {
  .cardFront p {
    -webkit-transform: translateX(-70px) translateY(71px);
        -ms-transform: translateX(-70px) translateY(71px);
            transform: translateX(-70px) translateY(71px);
  }

  .cardBackPic {
    background-size: cover !important;
    width: 100%;
    height: 200px;
  }
}

/**Animations**/
.middleAnimate {
  -webkit-animation: middleAnim .5s ease-in-out;
          animation: middleAnim .5s ease-in-out;
}

@-webkit-keyframes middleAnim {
  0%{
    -webkit-filter: drop-shadow( -5px -5px 5px #000 ); 
          filter: drop-shadow( -5px -5px 5px #000 );
  }

  50% {
    -webkit-filter: drop-shadow( -5px -5px 5px #fff ); 
          filter: drop-shadow( -5px -5px 5px #fff );
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: drop-shadow( -5px -5px 5px #000 ); 
          filter: drop-shadow( -5px -5px 5px #000 );
  }
}

@keyframes middleAnim {
  0%{
    -webkit-filter: drop-shadow( -5px -5px 5px #000 ); 
          filter: drop-shadow( -5px -5px 5px #000 );
  }

  50% {
    -webkit-filter: drop-shadow( -5px -5px 5px #fff ); 
          filter: drop-shadow( -5px -5px 5px #fff );
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: drop-shadow( -5px -5px 5px #000 ); 
          filter: drop-shadow( -5px -5px 5px #000 );
  }
}